<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="file" fileName="logs/app.log">
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>
    </File>
    <File name="fileinfo" fileName="logs/info.log">
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%5p] %m at %l%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="org.hibernate" level="trace" additivity="false">
      <AppenderRef ref="fileinfo"/>
    </Logger>
    <Logger name="com.java.DAO.implementation" level="error" additivity="false">
      <AppenderRef ref="file"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>